<div class="container-fluid top-half-page">
	
		<div class="center jumbotron">
		  <h1>
		  	Make a Difference
		  </h1>
		  <p>
		  	This is your chance to make a change.<br> Are you ready?
		  </p>
		  <div class="panel-group">
			  <div class="panel panel-default col-sm-6" id="buttons-panel">
			  	<div class="panel-body">
			  		<%= link_to "Give Help", '#', class: "btn btn-lg btn-primary join-button" %>
			  	</div>
			  </div>
			  <div class="panel panel-default col-sm-6" id="buttons-panel">
			  	<div class="panel-body">
			  		<%= link_to "Get Help", '#', class: "btn btn-lg btn-primary join-button" %>
			  	</div>
			  </div>
		  </div>
		</div>
</div>

 <div class="container" id="section-1">
	<div class = "col-sm-8 col-xs-12" id="shuttle">
		<!--<%= image_tag("space-shuttle_800x400", class: "shuttle-img col-sm-8 col-xs-12") %>_-->
	</div>
	<div class = "" id = "mission-text">
		<h1 class="col-sm-4 col-xs-12">
			Mission
		</h1>
		<div class="col-sm-4 col-xs-12">
			<p class="">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tortor sagittis, molestie libero sed, rutrum ante. Sed velit metus, fermentum ut pharetra et, sollicitudin vitae ligula. In egestas interdum velit sed vulputate.
			</p>
			<%= link_to "Get Help", '#', class: "btn btn-lg btn-primary" %>
		</div>
	</div>
</div>

<!--<%= render 'layouts/panel_info' %>-->
