<div class="container-fluid top-half-page">
	
		<div class="center jumbotron">
		  <h1>
		  	Make a Difference
		  </h1>
		  <p>
		  	Are you ready?
		  </p>
		  <div class="panel-group">
			  <div class="panel panel-default col-sm-6" id="buttons-panel">
			  	<div class="panel-body">
			  		<%= link_to "Give Help", '#', class: "btn btn-lg btn-primary join-button" %>
			  	</div>
			  </div>
			  <div class="panel panel-default col-sm-6" id="buttons-panel">
			  	<div class="panel-body">
			  		<%= link_to "Get Help", '#', class: "btn btn-lg btn-primary join-button" %>
			  	</div>
			  </div>
		  </div>
		</div>
</div>

<div class="container" id="section-1">
	
	<div class="col-sm-8 col-xs-12" id="shuttle">
	</div>
	<div class="" id="mission-text">
		<h1 class="col-sm-4 col-xs-12">
			Mission
		</h1>
		<div class="col-sm-4 col-xs-12">
			<p class="">
				The Brokenness Club connects people battling life dominating issues with mentors who have been there and made it through. 
			</p>
			<%= link_to "Learn More", '#', class: "btn btn-lg btn-primary join-button" %>
		</div>

	</div>
</div>
<div class="container" id="section">
	<div class="col-xs-12">

	</div>
</div>
<div class="container" id="reach-out">
	<div class="col-sm-6 poe-quote">
		<h2>
			Reach Out
		</h2>
		<h5>
			There are people willing to help.
		</h5>
		<p>
			We have all been there
		</p>
	</div>
	<div class="col-sm-6" id="umbrella">
	</div>
</div>

<div class="container" id="section">
	<div class="col-xs-12">
		<h2>
			Share Your Story
		</h2>
		<p>
			Connect with others who are struggling on the path you have been down.
		</p>

	</div>

</div>
<div class="container-fluid" id="worried-girl">
	<div class="container">
		<div class="col-xs-6" id="share-your-story">
			<p>
				You know that day when everything fell apart and the whole world spun on it's head... People are there, and they need you to show them how to get through.  
			</p>
			<%= link_to "Start Now", '#', class: "btn btn-lg btn-primary join-button" %>
		</div>
	</div>
</div>


<!--<%= render 'layouts/panel_info' %>-->
