
<% provide(:title, "Home") %>

<div class="container-fluid top-half-page">
		<div class="center jumbotron">
		  <h1>
		  	Face Life Head On
		  </h1>
		  <h2>
		  	Get connected with someone you can trust. Someone who's been there. <br />
		    Someone like you.
		  </h2>
		  <div class="panel-group">
			  <div class="panel panel-default col-sm-6" id="buttons-panel">
			  	<div class="panel-body">
			  		<%= link_to "Get Help", get_help_path, class: "btn btn-lg btn-primary join-button" %>
			  	</div>
			  </div>
			  <div class="panel panel-default col-sm-6" id="buttons-panel">
			  	<div class="panel-body">
			  		<%= link_to "Give Help", give_help_path, class: "btn btn-lg btn-primary join-button" %>
			  	</div>
			  </div>
		  </div>
		</div>
</div>

<div class="container" id="section-1">
	<div class="col-sm-8">
		<div class="col-sm-12" id="shuttle">
		</div>
	</div>
	<div class="col-sm-4">
		<h2 class="col-sm-12 form-header form-header-white-sm">
			Mission
		</h2>
	</div>
	<div class="col-sm-4">
		<div class="col-sm-12">
			<p class="section-description">
				The Brokenness Club connects people battling life's toughest challenges with mentors who have been there and made it through. 
			</p>
			<%= link_to "Learn More", about_path, class: "btn btn-lg btn-primary join-button" %>
		</div>
	</div>
</div>

<div class="container" id="get-help">
	<div class="col-sm-4">
		<h2 class="col-sm-12 form-header home-header">
			Get Help
		</h2>

		<p class="col-sm-12 font-black section-description">
			Mentors are ready and willing to listen to you. To leave judgement at the door and give you the caring support that you need.
		</p>
		<%= link_to "Start Now", get_help_path, class: "btn btn-lg btn-primary join-button" %>
	</div>

	<div class="col-sm-8" id="umbrella">
		<div class="get-help col-sm-12">
			<p class="font-white picture-text">
				There is a time in everyone's life when all the walls come caving in. When waking up in the morning starts the nightmare all over again. Nothing can fix what's happened, but having someone listen and understand can make all the difference. 
			</p>
		</div>
	</div>
</div>

<div class="container" id="give-help">
	<div class="col-xs-12">
		<h2 class="form-header home-header">
			Give Help
		</h2>
		<p class="font-center section-description-center">
			Connect with others who are struggling on the path you have been down.
		</p>

	</div>

</div>
<div class="container-fluid" id="worried-girl">
	<div class="container" id="share-your-story-container">
		<div class="col-xs-6" id="share-your-story-text">
			<p>
				You know that day when everything fell apart and the whole world spun on it's head... People are there, and they need you to show them how to get through.  
			</p>
			<%= link_to "Start Now", give_help_path, class: "btn btn-lg btn-primary join-button" %>
		</div>
	</div>
</div>
