
<div class = "container-fluid">

  <h4 class = "col-sm-2 label-header"> Shipping Address </h4>
  <div class = "col-sm-10">
    <div class = "col-sm-6">
      <%= f.input :street_address, wrapper: :vertical_form, label: "Street Address", class: 'form-control' %>
    </div>
    <div class = "col-sm-6">
      <%= f.input :apt_suite_building, wrapper: :vertical_form, label: "Apt / Suite / Building", class: 'form-control' %>
    </div>
    <div class = "col-xs-12">
      <%= f.input :city, wrapper: :vertical_form, class: 'form-control' %>

      <%= f.input :state, wrapper: :vertical_form, class: 'form-control' %>
    
      <%= f.input :zip, wrapper: :vertical_form, class: 'form-control' %>
    </div>
  </div>