<div class="container">
	<h2><span>Resend unlock instructions</span></h2>
	<div class="sign-up-form">
		<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, class: "form-control" %>
		  </div>
		  <%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>

		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
