<div class="container">
  <h2><span>Edit Profile</span></h2>
  <div class="sign-up-form">

	<%= form_for @profile do |f| %>
  	  <div class="form-group">
	    <div class = "required col-xs-12">
	      <h2>Required</h2>
	      <% if current_user.has_role? :mentor %>
	      	<%= render :partial => 'devise/shared/categories', :locals => {:f => f} %>
	      <% end %>

	      <div class = "col-xs-12">
		  <%= f.label :story, 'Your Story' %><br />
		  <%= f.text_area :story, class: 'form-control' %>
		  
		  <% if current_user.has_role? :mentor %>
		  	<p> Your story will be shared with those who may choose you as their mentor as well as other mentors in your category. </p>
		  <% else %>
		  	<p> Your story will only be shared with the mentor you choose. <br />
		  		 </p>
		  <% end %>
		  </div>

		  
		  <div class = "col-xs-12">
		  <% if current_user.has_role? :mentor %>
		  	<%= f.label :max_clients, 'Maximum Number of Clients' %><br />
		  	<%= f.number_field :max_clients, in: 1..10, class: 'form-control' %>
		  	<p> Please only choose the number of clients you can devote full attention to at any time. </p>
		  <% end %>
		  </div>
		  

		</div>
		<div class="required">
			<h2>Optional</h2>
		    <%= f.fields_for :address do |j| %>
		    	<%= render :partial => 'devise/shared/address', :locals => {:f => j} %>
		    <% end %>

		    <%= f.label :birthday, 'Birth Date' %><br />
		    <%= f.date_select :birthday, :start_year => 1900, :end_year => Date.current.year, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }, class: 'form-control' %> <br />
		    <%= f.label :gender, 'I Am' %><br />
		    <%= f.select :gender, ["Male", "Female"], :prompt => "Gender" %>
		</div>
	       <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>